<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spencer!</title>
    <style>
        table,th,td {border: 1px solid black;}
    </style>
</head>
<body>
<h1>Website of S. Roberson</h1>
<iframe src="https://giphy.com/embed/l0Iyn3TeqMba2Eaek" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/vintage-glitch-3d-l0Iyn3TeqMba2Eaek"></a></p>
<h15><i>Last modified 10/29/2021</i> </h15>
</br></br>
<a class="btn btn-primary" href="#" role="button"></a>
<a href='https://www.google.com'><button class="btn btn-primary" type="www.google.com">Resume</button></a>
<a href='https://www.linkedin.com/in/spencer-roberson-ba4b2a155'><button class="btn btn-primary" type="www.google.com">Linkedin</button></a>
<hr style="height:10px; width:70%; text-align:left;margin-left:0;border-width:0; color:white; background-color:blue">

<h5>Currently, I study <a href="https://www.odu.edu/academics/programs/undergraduate/cybersecurity">CyberSecurity</a> at <a href="https://www.odu.edu/">Old Dominion University</a> </h5>
<h5>Status: Seeking entry-level positions related to CyberSecurity or other similar engineering disciplines</h5>

</u1>

<hr style="height:10px; width:70%; text-align:left;margin-left:0;border-width:0; color:white; background-color:blue">
<h3>Contact Form</h3>
<hr style="height:10px; width:70%; text-align:left;margin-left:0;border-width:0; color:white; background-color:blue">
<iframe src="https://giphy.com/embed/3o6ZtlAwdKMWrLn5aE" width="330" height="330" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/interactive-sculpures-sound-petscii-3o6ZtlAwdKMWrLn5aE"></a></p>
<h4> denied privilege to further examine, =0(root) required </h4>
<hr style="width:300%;text-align:left;margin-left:0">
</body>
</html>
